version: "3"

services:
  ms-venda-backend:
    container_name: ms-venda-backend
    build: .
    ports:
      - "3336:5000"
    command: npm start
    environment:
      - NODE_ENV=
      - DB_HOST=
      - DB_USER=
      - DB_PASSWORD=
      - DB_DATABASE=
      - DB_PORT=
      - DB_SSL=
      - REDIS_HOST=
      - REDIS_PORT=

