version: '3.7'
services: 
  ms-estoque-frontend:
    build: .
    container_name: 'ms-estoque-frontend'
    ports:
      - 89:80
    volumes:
      - ./www:/var/www/html
    environment:
      - URL_API=
      - URL_API_CONSULTA_CEP=
      - URL_API_ACL=
